<p>finalorder works!</p>



<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">


              

                <div class="invoice p-5">

                    <h5>Your order Confirmed!</h5>
                    <h6>Order Id - 466598</h6>
                    <div>
                    <img src="https://cdni.iconscout.com/illustration/premium/preview/order-confirmed-2644404-2206500.png?w=0&h=700" width="70%">
                    </div>
                    
                    <span>You order has been confirmed and will be shipped in next two days!</span>

                   
                    

                       
                        

                




                    



                    


                    <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                    <span>iCart Team</span>





                </div>

                <div class="d-flex justify-content-between footer p-3">

                    <span>Need Help? visit our <a href="#"> help center</a></span>
                  

                </div>




            </div>

        </div>

    </div>

</div>